* {
  margin: 0;
  padding: 0;
}

/* BIG BLOCKS */
/* Is this bad practice? I feel like it is. */
body {
  background-color: #1d1d1d;
}

.container {
  background-color: #383838b6;
  font-family: Montserrat;
  height: 550px;
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  margin: 35px auto;
  position: relative;
}

.input-field {
  font-size: 30px;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  height: 60px;
  width: 292px;
  background: #525252;
  border-color: #525252;

  padding-left: 6px;
  margin-top: 10px;
  margin-bottom: 8px;
  border-radius: inherit;
  border-style: solid;
}

.part1:focus {
  outline: none;
}

.separator {
  background-color: #808080;
  width: 300px;
  height: 2px;
  margin-top: 25px;
  margin-bottom: 8px;
}

.buttons {
  display: inline-block;
  position: absolute;
  width: 300px;
  margin-left: 18px;
}

.make-block {
  display: inline-block;
  width: auto;
}

/* BUTTONS IN GENERAL */

button {
  font-size: 24px;
  font-family: inherit;
  color: #fff;

  height: 75px;
  width: 55px;

  border-color: #444;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;

  margin: 3px;
  background-color: #444;
}

button:hover {
  background-color: #8f8f8f;
  border-color: #8f8f8f;
}

button:active {
  background-color: #525252;
  border-color: #525252;
}

/* OPERATORS */

.operators {
  color: #24cc70;
  border-color: #24cc70;
}

/* BACKSPACE */

.backspace {
  color: #ff9f46;
  border-color: #ff9f46;
}

/* CLEAR ALL */

.clear {
  color: #ee4343;
  border-color: #ee4343;
}

/* EQUAL SIGN */

.equal {
  border-color: #75b1ff;
  height: 156px;
  position: absolute;
  right: 44px;
}

/* PARENTHESES */

.parenthesis {
  margin: 2px;
  width: 24px;
}

.open {
  margin-right: 1px;
  margin-left: 3px;
}

.close {
  margin-right: 3px;
}
