* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1d1d;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #383838b6;
  font-family: Montserrat;

  margin-top: 60px;
  border-radius: 10px;

  height: 550px;
  width: 300px;
}

.input-space {
  display: flex;
  flex-direction: column;

  height: 100px;
  border-radius: inherit;
}

.user-input {
  align-self: center;

  font-size: 30px;
  font-family: inherit;
  font-weight: bold;
  color: #fff;

  height: 60px;
  width: 265px;

  background: #525252;
  border-color: #525252;

  padding-left: 6px;
  margin-top: 12px;

  border-radius: inherit;
  border-style: solid;
}

.user-input:focus {
  outline: none;
}

.deadspace {
  align-self: center;
  background-color: #808080;

  width: 270px;
  height: 2px;

  margin-top: 25px;
}

.buttons {
  display: grid;
  justify-items: center;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 81px;

  width: 270px;
  margin: 10px auto;
}

.row {
  justify-content: center;
  gap: 3px;
}

/* BUTTONS IN GENERAL */

button {
  font-size: 24px;
  font-family: inherit;
  color: #fff;

  height: 75px;
  width: 55px;

  border-color: #444;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;

  margin: 3px;
  background-color: #444;
}

button:hover {
  background-color: #8f8f8f;
  border-color: #8f8f8f;
}

button:active {
  background-color: #525252;
  border-color: #525252;
}

/* OPERATORS */

.operators {
  color: #24cc70;
  border-color: #24cc70;
}

/* BACKSPACE */

.backspace {
  color: #ff9f46;
  border-color: #ff9f46;
}

/* CLEAR ALL */

.clear {
  color: #ee4343;
  border-color: #ee4343;
}

/* EQUAL SIGN */

.equal {
  border-color: #75b1ff;
  height: 156px;
}

/* PARENTHESES */

.parenthesis {
  margin: 2px;
  width: 24px;
}

.open {
  margin-right: 1px;
  margin-left: 3px;

  grid-column: 1 / 1;
}

.close {
  margin-right: 3px;

  grid-column: 1 / 1;
}
